body {
background-image: url("background.jpg");
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  color: white;
  position: absolute;
  top: -5px;
  left: 12px;
  font-size: 19px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  z-index: 2;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  z-index: 1;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: right;
  overflow: hidden;
  z-index: 5;
}

.dropdown .dropbtn {
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: fixed;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: relative;
  width: 99.3%;
  margin-bottom: -100px;
  padding: 5px;
  background-color: black;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 12px;
}
